<html>
<head>
	<title> </title>
</head>
<body>
	<p>
		<b>Name:</name>
	</p>
	<p>
		<b>Description:</b>
	</p>
	<p>
		<b>Price:</b>
	</p>
	<p>
		<b>Seller:</b>
	</p>
	<p>
		<b>Email:</b>
	</p>
</body>
</html>
